<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-back-button></ion-back-button>
      <ion-title>Movie details</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="loading == false">
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-label>{{movieDetails.Title}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Plot:</ion-label>
      <ion-label>{{movieDetails.Plot}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Language:</ion-label>
      <ion-label>{{movieDetails.Language}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Released:</ion-label>
      <ion-label>{{movieDetails.Released}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
