<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-back-button></ion-back-button>
      <ion-title>Movie details</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="loading">
    <ion-label>Loading...</ion-label>
  </ion-item>
  <ion-list *ngIf="!loading">
    <ion-item>
      <ion-label class="text">Title:</ion-label>
      <ion-label class="details">{{movieDetails.Title}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="text">Plot:</ion-label>
      <ion-label class="details">{{movieDetails.Plot}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="text">Language:</ion-label>
      <ion-label class="details">{{movieDetails.Language}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="text">Released:</ion-label>
      <ion-label class="details">{{movieDetails.Released}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
